simulations.egg-info/

SEC_Notebooks/Results

SEC_Notebooks/R_Notebooks/.ipynb_checkpoints

SEC_Notebooks/Python_Notebooks/*
!SEC_Notebooks/Python_Notebooks/Logistic-Pop-Growth.ipynb
!SEC_Notebooks/Python_Notebooks/selection-affect-LD.ipynb

dataset_creation/Drift.R
simulations/Old_Code/
simulations/tests/__pycache__/
build
files.txt
sec-venv
*.pyc
dataset_creation/.Rapp.history
