simulations.egg-info/

~$*

SEC_Writings/SEC_Proc-B_Submission-Proof.pdf

SEC_Notebooks/Results

SEC_Notebooks/R_Notebooks/.ipynb_checkpoints

SEC_Notebooks/Python_Notebooks/*
!SEC_Notebooks/Python_Notebooks/Logistic-Pop-Growth.ipynb
!SEC_Notebooks/Python_Notebooks/selection-affect-LD.ipynb

dataset_creation/Drift.R
simulations/Old_Code/
simulations/tests/__pycache__/
build
files.txt
sec-venv
*.pyc
dataset_creation/.Rapp.history
SEC_Writings/SEC_Santangelo-et-al_Proc-B_2018_Main-Text_Clean_No-Figs.docx
SEC_Writings/Santangelo-et-al_Proc-B_2018_Figure-2.pdf
SEC_Writings/Santangelo-et-al_Proc-B_2018_Figure-3.pdf
SEC_Writings/SEC_Santangelo-et-al_Proc-B_2018_Supplementals_Clean.pdf
SEC_Writings/Santangelo-et-al_Proc_B_2018_Figure-1.pdf
